<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Doctor</title>
</head>
<body>
<h1>Delete a Doctor</h1>
<form action="" method="POST">
    {% csrf_token %}
    {% for doctor in doctors %}
    <input type="checkbox" id="{{doctor.doctor_id}}" name="doc_to_delete" value="{{doctor.doctor_id}}">
    <label for="{{doctor.doctor_id}}"> {{doctor.doctor_name}} ({{doctor.specialization}})</label><br>
    {% endfor %}
    <input type="submit" value="Delete">
</form>
</body>
</html>